@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@100 & display=swap');

*{margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2d2d2d;
}
.navigation
{
    position: relative;
    height: 500px;
    background-color: #424242;
    width: 300px;
    box-shadow: 10px 0 0 #099c22;
    border-left: 10px solid #424242;
    overflow-x: hidden;